<launch>
<param name="video_source" value="/home/nvidia/yzchen_ws/RM_NUAA_ros/videos/windMill.mp4"/>
    <node pkg="windMill" type="windMill_node" name="windMill" output="screen"   />
    <node pkg="video_pub" type="video_pub_node" name="video_pub" respawn="true" />
    <!--<rosparam command="load" file="$(find edt)/cfg/params.yaml" />-->

</launch>
